{% extends "layout.html" %}
  {% block content %}
  
  <h1 align="center" style="color:black">Data Mining Term Project - Fall 2019 </h1>
  <p align="center"><a href="search" ><b><i>Click to search</i></b></a></p>
  
  <pre> 
		<b>Phase 1:
				* With the help of the inverted index, cosine similarity and posting lists, a search engine was created.</b>
	   
		Phase 2:(In development):
				* With the help of Naive Bayes Classifier, carry out the classification part of the project.
				* Based on reviews, recommend medicines using content based recommendation.
	   
		Phase 3:(To be initiated):
				* Create an image captioning module with the help of MS-Coco dataset.
  </pre>	   
  {% endblock %}
  
  
  
  
  
  
  
  
  
  